*{
  box-sizing: border-box;
  margin: 0%;

}

body{
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  background-color: grey;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 2%;
}

.container{
  width: 63%;
  border-color: rgba(15, 15, 15, 0.6);
  border-radius: 20px;
  background-color: rgba(15, 15, 15, 0.6);
  margin: auto;
  padding: 5%;
}

header{
  text-align: center;
  color: rgb(0, 235, 0);
}

img{
  width: 24%;
}

nav{
  background-color: rgb(0, 235, 0);
  text-align: center;
  padding: 1%;
}

.button{
  font-size: 10px;
}

section{
  margin-top: 2%;
  color: white;
}

h2{
  display: inline-block;
}

.barra1{
  padding: 1em;
  background-color: orange;
  width: 32%;
  border-radius: 3px;
}

.barra2{
  padding: 1em;
  background-color: rgb(0, 223, 0);
  width: 50%;
  border-radius: 3px;
}

.barra3{
  padding: 1em;
  background-color: red;
  width: 15%;
  border-radius: 3px;
}
